@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #e66767, #303952);
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

header{
    height: 10vh;
    background: #303952;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h2{
    color: #fff;
    font-size: 26px;
}

header h2 a{
    text-decoration: none;
    color: #fff;
    transition: font-size 0.5s ease, color 1s linear;
}

header h2 a:hover{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.movie{
    width: 250px;
    margin: 20px;
    background: #222f3e;
    border-radius: 10px;
    /* padding: 5px; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.3);
}

.movie .details{
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    position: relative;
}

.movie .details span{
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    color: lightgreen;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    top: -42px;
    right: 0;
}

.movie img{
    width: 100%;
}